<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->

<mapper namespace="com.community.manager.dao.UserRankDao">

	<!--sql片段-->
	<sql id="tableName">user_rank</sql>

	<!-- resultMap:id自定义，type为需要映射的实体JavaBean
	 		1、必须要有<id/>标签，其中column为数据库表对应的字段名，property对应为实体类的属性名
	 		2、<result/>根据每个表的字段数量来定义，其中column为数据库表对应的字段名，property对应为实体类的属性名
	 -->
	<resultMap id="userRankResultMap" type="UserRank">
		<id column="id" property="id"/>
		<!--<result column="typeName" property="typeName"/>-->
		<result column="name" property="rankName"/>
		<result column="credits_level" property="creditsLevel"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>


	<!-- SQL的DML操作分别对应select、update、delete、insert 这几个标签，当使用这些标签时注意：
			1、id的值为对应dao类里的那个方法的方法名，如SysUserao里的List<SysUser> listAll()-则该select标签的id应为listAll
			2、统一给每一个mapper.xml定义resultMap映射，然后每一个查询的查询结果统一使用resultMap
			3、如果对应的查询方法有参数值，则要设置parameterType，其值为方法里对应参数的类型
	 -->
	<select id="listAll" resultMap="userRankResultMap">
		select * from <include refid="tableName"/>
	</select>

	<select id="getById" parameterType="java.lang.Long" resultMap="userRankResultMap">
		SELECT * FROM <include refid="tableName" /> WHERE id = #{id}
	</select>

	<select id="listUserRankWithSearch" resultMap="userRankResultMap">
		select * from <include refid="tableName"/>WHERE name LIKE #{searchVal}
	</select>

	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM <include refid="tableName"/> WHERE id=#{id}
	</delete>

	<insert id="insert" parameterType="UserRank">
		INSERT into <include refid="tableName"/>
		(name,credits_level,create_time,update_time)
		VALUES (#{rankName},#{creditsLevel},#{createTime},#{updateTime})
	</insert>

	<update id="update" parameterType="UserRank">
		update <include refid="tableName"/>
		<set>
			<if test="rankName != null and rankName != ''">
				name = #{rankName},
			</if>
			<if test="creditsLevel !=null and creditsLevel != ''">
				credits_level = #{creditsLevel},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
		</set>
		WHERE id = #{id}
	</update>


</mapper>