<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <LINK rel="Bookmark" href="http://static.community.com/favicon.ico">
    <LINK rel="Shortcut Icon" href="http://static.community.com/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://lib.h-ui.net/html5.js"></script>
    <script type="text/javascript" src="http://lib.h-ui.net/respond.min.js"></script>
    <script type="text/javascript" src="http://lib.h-ui.net/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://static.community.com/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://static.community.com/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="http://static.community.com/lib/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="http://static.community.com/lib/icheck/icheck.css"/>
    <link rel="stylesheet" type="text/css" href="http://static.community.com/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="http://static.community.com/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加首页栏目导航信息</title>
    <meta name="keywords" content="">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-homepage-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首页栏目名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="columnName" name="columnName">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>顺序排列号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="orderNum" name="orderNum">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关联的链接地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="url" name="url">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit-btn" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="http://static.community.com/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://static.community.com/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="http://static.community.com/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript"
        src="http://static.community.com/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript"
        src="http://static.community.com/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript"
        src="http://static.community.com/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="http://static.community.com/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="http://static.community.com/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        $("#submit-btn").click(function () {
            //新增首页栏目导航信息
            addHomepageInfo();
        });
    });

    /*新增首页栏目导航信息*/
    function addHomepageInfo() {

        var columnName = "";
        var url = "";
        var orderNum = "";

        columnName = columnName.substring(0, columnName.length - 1);
        url = url.substring(0, url.length - 1);
        orderNum = orderNum.substring(0, orderNum.length - 1);

        $.ajax({
            type : "post",
            url : "/homepage/info/",
            data : {
                columnName : $("#columnName").val(),
                url : $("#url").val(),
                orderNum : $("#orderNum").val()
            },
            statusCode : {
                201 : function () {
                    layer.msg('添加成功', {
                        time : 0,
                        icon : 6,
                        btn : ['确定'],
                        yes : function () {
                            var current_window = parent.layer.getFrameIndex(window.name);
                            parent.$('#btn-refresh').click();
                            parent.layer.close(current_window);
                        }
                    });
                },
                500 : function () {
                    layer.msg('操作失败！服务器出错！', {time : 2000, icon : 2});
                }
            }
        });
    }

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>