<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>713 Community</title>
    <script src="../bs/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/navAndFooter.css">
    <link rel="stylesheet" href="../css/cssReset.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/detailBBC.css" />
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/holder.min.js"></script>
    <style>
    </style>
</head>
<body>

<!--导航的开始-->
<nav  class="navbar navbar-default main navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img style="margin-top: -15px ;height: 50px" class="img-responsive img" alt="713 Community" src="../img/logo2.png">
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-collapse menu">
				<li><a href="index.html">首页 </a></li>
				<li><a href="#">论坛</a></li>
				<li><a href="resShare_index.html">资源共享</a></li>
				<li><a href="R-about1.html">关于我们</a></li>
				<li><a href="center.html">个人中心</a></li>
			</ul>
			<form class="navbar-form navbar-left navbar-collapse">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right menu">
				<li><a href="register1.html"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
				<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--导航的结束-->
   <div class="container row">
   	   <div class="top col-md-12">
   	   	  <img src="holder.js/1120x100" class="img-responsive" />
   	   </div>
   	   <div class="leftContent col-md-9 ">
   	   	   <div class="content">
   	   	   	  <h3 class="page-header">帖子的标题</h3>
   	   	   	  <ul class="list-inline">
   	   	   	  	<li><img src="holder.js/25x25" class="img-circle img-responsive aimg"/></li>
   	   	   	  	<li><a href="#" class="shou">作者名</a></li>
   	   	   	  	<li>XXXX-XX-XX</li>
   	   	   	  	<li>XX:XX:XX</li>
   	   	   	  </ul>
   	   	   	  <div class="textp">
   	   	   	  	 <img src="holder.js/400x200" class="img-responsive"/>
   	   	   	  	 <p class="page-text">
   	   	   	  	 	这里是正文的内容(包括图片的内容)，定义了最小的高度，可以拉长。
   	   	   	  	 </p>
   	   	   	  </div>
   	   	   	  
   	   	   </div>
   	   	   <div class="talk">
   	   	   	<div class="row">
   	   	   		<div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
               <div class="col-md-2">
   	   	   		   <img src="holder.js/110x110" class="img-circle "/>
   	   	   		</div>
   	   	   		<div class="talkContent col-md-10">
   	   	   	  	 	<ul class="list-inline ">
   	   	   	  	 		<li class="talk-nav"><a href="#">作者名</a></li>
   	   	   	  	 		<li class="talk-nav">XXXX-XX-XX</li>
   	   	   	  	 		<li class="talk-nav">XX:XX:XX</li>
   	   	   	  	 	</ul>
   	   	   	  	 	<p>这里是评论部分，设置里最小值为60px</p>
   	   	   	  	 	<div class="btnTalk">
   	   	   	  	 	   <button class="btn btn-xs col-md-offset-8">回复</button>
   	   	   	  	 	   <button class="btn btn-xs ">点赞</button>
   	   	   	  	 	</div>
               </div>
   	   	   	</div>
   	   	   	  
   	   	   	  	 	
   	   	   </div>

   	</div>
   	   <div class="rightContent col-md-3">
   	   	   <div class="author row">
   	   	   	   <p class="col-md-8">这里是关于作者的简介，或者写关于作者的座右铭</p>
   	   	   	   <div class="col-md-4"><img src="holder.js/80x80" class="img-thumbnail "/></div>
   	   	   </div>
   	   	   <div class="moretext">
   	   	   	  <h4>作者最近写的文章的推荐</h4>
   	   	   	  <ul class="list-unstyled">
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  </ul>
   	   	   </div>
   	   	   <div class="hottext">
   	   	   	  <h4>热门话题的推荐</h4>
   	   	   	  <ul class="list-unstyled">
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  	<li><a href="#">XXXXXXXXXXXXXXXX</a></li>
   	   	   	  </ul>
   	   	   </div>
   	   </div>
   </div>
   
<!--版权信息的开始-->
<div class="footer">
        <p>Copyright © 2005-2017 713 Community, All rights reserved. 鄂ICP备11111号-5 | © 2017 713 Community </p>
</div>
<!--版权信息的结束-->
</body>
</html>