<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../bs/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/personCenter2.css" />
		<link rel="stylesheet" href="../css/cssReset.css" />
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../bs/js/bootstrap.js"></script>
		<script type="text/javascript" src="../js/holder.min.js" ></script>
	</head>
	<body>
		<div class="container-fluid">
			<!--头部部分-->
			<div class="top row">
				<div class="lan"></div>
				<div class="col-md-3 top-left">
					<img src="holder.js/180x180" class="img-circle"/>
				</div>
				<div class="top-mid col-md-3">
					<h1>黄晓先</h1>
					<p>java开发工程师</p>
					<ul class="list-inline list-unstyled">
						<li><img src="holder.js/40x40" class="img-circle"/></li>
						<li><img src="holder.js/40x40" class="img-circle"/></li>
						<li><img src="holder.js/40x40" class="img-circle"/></li>
						<li><img src="holder.js/40x40" class="img-circle"/></li>
					</ul>
				</div>
			    <div class="top-right col-md-3 col-md-offset-2">
			    	<button class="btn btn-success">联系我</button>
			    </div>
			</div>
			<!--头部部分-->
			<!--中间内容部分-->
				<div class="container">
					<div class="content row">
						<!--左边部分-->
						<div class="content-left col-md-8">
							<!--关于我-->
							<div class="aboutme">
								<h3>关于我</h3>
								<p>
									中国人，程序员一枚！即将步入职场的我，对未来充满了。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。迷茫！！！我是一名爱车族，却只能想想与看看，没钱买车！我努力，
									因为我想更好的生存！！！！哔哩吧啦一大堆！！！其实都是屁话~~
								</p>
							</div>
							<!--关于我-->
							<!--项目部分-->
							<div class="program">
								 <div class="newpro">
								 	<h3>最新项目</h3>
								 	<h4>最新项目</h4>
								 	<h2>基于分布式架构的713社区系统</h2>
								 	<img src="holder.js/700x300" class="img-responsive"/>
								 	<p>
								 		713社区作为713实验室的唯一具有权威性的官方网站，采用SOA分布式架构思想开发，
								 		内含网站门户系统、后台管理系统、单点登录系统、论坛系统、资源共享系统、个人中心系统，
								 		 基于webservice技术，并采用Redis缓存、Nginx负载均衡等，实现各个子系统之间的数据共享、传输...
								 	</p>
								 	<p>
								 	      本系统开发团队由5人的后端和3人的前端组成，当然还有负责产品需求的产品经理，技术指导的架构师；
								 	      本系统的成功意味着713实验室将成为湖北大学所有实验室当中第一个拥有自己实验室官网的实验室...
								 	</p>
								 	<button class="btn btn-primary">返回我的项目</button>
								 </div>
								 <div class="otherpro">
								 	<div class="row">
								 		<div class="col-md-4">
								 			<img src="holder.js/200x200" class="img-responsive img-rounded "/>
								 		</div>
								 		
								 		<div class="col-md-8">
								 			<h2><a>移动web点餐系统</a></h2>
								 			<p>
								 				该系统分为四个子系统：点餐子系统、收银员子系统、后台管理子系统、广告子系统，该系统目标是基于移动端、面向中高端餐馆或酒店的餐饮平台，
								 				客户通过扫描二维码进入到餐饮店铺的首页，然后自行选桌点菜下单，或者直接在当前餐桌扫码点菜。从客户角度上，方便客户快捷点餐，提高用户体验；
								 				从餐饮店铺角度上，通过后台管理的数据处理、报表，以及收银员系统的业务处理等，实现了业务上的智能管理，减少店铺所需的工作量。
								 			</p>
								 		</div>
								 	</div>
								 	
								 	<div class="row">
								 		<div class="col-md-4">
								 			<img src="holder.js/200x200" class="img-responsive img-rounded "/>
								 		</div>
								 		
								 		<div class="col-md-8">
								 			<h2><a>移动web点餐系统</a></h2>
								 			<p>
								 				该系统分为四个子系统：点餐子系统、收银员子系统、后台管理子系统、广告子系统，该系统目标是基于移动端、面向中高端餐馆或酒店的餐饮平台，
								 				客户通过扫描二维码进入到餐饮店铺的首页，然后自行选桌点菜下单，或者直接在当前餐桌扫码点菜。从客户角度上，方便客户快捷点餐，提高用户体验；
								 				从餐饮店铺角度上，通过后台管理的数据处理、报表，以及收银员系统的业务处理等，实现了业务上的智能管理，减少店铺所需的工作量。
								 			</p>
								 		</div>
								 	</div>
								 	
								 	<div class="row">
								 		<div class="col-md-4">
								 			<img src="holder.js/200x200" class="img-responsive img-rounded "/>
								 		</div>
								 		
								 		<div class="col-md-8">
								 			<h2><a>移动web点餐系统</a></h2>
								 			<p>
								 				该系统分为四个子系统：点餐子系统、收银员子系统、后台管理子系统、广告子系统，该系统目标是基于移动端、面向中高端餐馆或酒店的餐饮平台，
								 				客户通过扫描二维码进入到餐饮店铺的首页，然后自行选桌点菜下单，或者直接在当前餐桌扫码点菜。从客户角度上，方便客户快捷点餐，提高用户体验；
								 				从餐饮店铺角度上，通过后台管理的数据处理、报表，以及收银员系统的业务处理等，实现了业务上的智能管理，减少店铺所需的工作量。
								 			</p>
								 		</div>
								 	</div>
								 	
								 	<div class="row">
								 		<div class="col-md-4">
								 			<img src="holder.js/200x200" class="img-responsive img-rounded "/>
								 		</div>
								 		
								 		<div class="col-md-8">
								 			<h2><a>移动web点餐系统</a></h2>
								 			<p>
								 				该系统分为四个子系统：点餐子系统、收银员子系统、后台管理子系统、广告子系统，该系统目标是基于移动端、面向中高端餐馆或酒店的餐饮平台，
								 				客户通过扫描二维码进入到餐饮店铺的首页，然后自行选桌点菜下单，或者直接在当前餐桌扫码点菜。从客户角度上，方便客户快捷点餐，提高用户体验；
								 				从餐饮店铺角度上，通过后台管理的数据处理、报表，以及收银员系统的业务处理等，实现了业务上的智能管理，减少店铺所需的工作量。
								 			</p>
								 		</div>
								 	</div>
								 	
								 </div>
							</div>
							<!--项目部分-->
							<!--工作经历-->
							<div class="experience">
								<h2>工作经历</h2>
								<div class="content">
								  <h3>广州光锥元信息科技有限公司</h3>
								  <span>-软件开发工程师 (2014 - Present)</span>
								  <p>准备去实习.......</p>
								</div>
								
								<div class="content">
								  <h3>广州光锥元信息科技有限公司</h3>
								  <span>-软件开发工程师 (2014 - Present)</span>
								  <p>准备去实习.......</p>
								</div>
								 
							</div>
							<!--工作经历-->
						</div>
						<!--左边部分-->
						<!--右边部分-->
						<div class="content-right col-md-4">
							<div class="address">
								<p>广西贵港/桂平 </p>
								<p><a>xiaoxian@gmail.com</a></p>
								<p><a>http://www.website.com</a></p>
							</div>
							
							
							<div class="skill">
								<h2>基本技能</h2>
								<p>两年的java开发经验，不断提升java能力时，也顺便把前端、数据库等也学了，目前算是半个全栈工程师。</p>
								<ul class="list-unstyled">
									<li>java</li>
									<li>MVC,SOA ,Webservice...</li>
									<li>Javascript ,jQuery</li>
									<li>bootstrap,vue.js, react.js</li>
								</ul>
							</div>
							
							
							<div class="talk">
								<h2>座右铭</h2>
								<p>两年的java开发经验，不断提升java能力时，也顺便把前端、数据库等也学了，目前算是半个全栈工程师。</p>
							</div>
							
							<div class="education">
								<h2>教育经历</h2>
								<h3>软件工程</h3>
								<span>湖北大学（2014-2018）</span>
							</div>
							
							<div class="language">
								<h2>语言</h2>
								 <h3>汉语</h3>
								 <span>-我是中国人 </span>
								 <br />
								 <h3>English</h3>
								 <span>-CET-4 </span>
								 <br />
								 <h3>粤语</h3>
								 <span>-家乡语言 </span>
							</div>
						</div>
						<!--右边部分-->
					</div>
				</div>
			<!--中间内容部分-->
		</div>
		<!--版权-->
		<div class="bottom">
			<small class="copyright">Copyright © 2005-2017 713 Community, All rights reserved. 鄂ICP备11111号-5 | © 2017 713 Community </small>
		</div>
		<!--版权-->
		<script>
            $(function () {
                    $.ajax({
                        type: "get",
                        url: "user.json",
                        statusCode: {
                            200: function (data) {
                                //初始化
                                $('.top-left').empty();
                                $('.top-mid').empty();
								$('.aboutme').empty();
								$('.address').empty();
								$('.talk').empty();
								$('.skill').empty();
								$('.experience').empty();
								$('.language').empty();
								$('.education').empty();
                                //添加用户图片
								var userImg='<img src="'+data.user.photo+'" class="img-circle"/>';
                                $('.top-left').append(userImg);

                                //显示姓名及班级
								var userBasicInfo='<h1>'+data.user.realname+'</h1><p>'+data.user.userClass+'</p>'
								$('.top-mid').append(userBasicInfo);

								//关于我
								var aboutMe='<h3>关于我</h3><p>'+data.userContent.about+'</p>';
								$('.aboutme').append(aboutMe);

								//添加联系方式
								var contact='<h2>联系方式</h2><br>';
								$('.address').append(contact);
                                $.each(data.userContent.contact, function (i, n) {
                                    var contact1='<span>'+n.type+': </span><p><a>'+n.value+'</a></p>';
                                    $('.address').append(contact1);
                                });

                                //添加技能及熟练程度
                                var skills='<h2>基本技能</h2>';
                                $('.skill').append(skills);
                                $.each(data.userContent.skill,function (i,n) {
									var skill='<span>'+n.name+'</span><div class="progress progress-striped "' +
										'<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:'+n.level+';"></div></div>';
									$('.skill').append(skill);
                                });

                                //添加座右铭
                                var motto='<h2>座右铭</h2><p>'+data.userContent.motto+'</p>';
                                $('.talk').append(motto);

                                //添加教育经历
                                var education='<h2>教育经历</h2>';
                                $('.education').append(education);
                                $.each(data.userContent.education,function (i,n) {
									var education='<span>'+n.name+': </span><p>'+n.time+'</p>';
                                    $('.education').append(education);
                                });

                                //添加语言
								var language='<h2>语言</h2>';
								$('.language').append(language);
								$.each(data.userContent.language,function (i,n) {
									var language='<span>'+n.name+': </span><p>'+n.level+'</p>';
									$('.language').append(language);
                                });

								//添加工作经历
								var experience='<h2>工作经历</h2>';
								$('.experience').append(experience);
								$.each(data.userContent.work_exp,function (i,n) {
								    var exp='<div class="content"><h3>'+n.name+'</h3><span>'+n.post+'   '+n.time+'</span> <p>'+n.info+'</p></div>';
                                    $('.experience').append(exp);
                                })


                            },
                            500: function () {
                                console.log("操作失败！服务器出错");
                            },
                            404: function () {
                                console.log("资源不存在");
                            }
                        }
                    })
                })
		</script>
	</body>
</html>
